{% extends 'layout.html' %}
{% load static %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Sinan Koşar</h1>
        <p class="lead">İHA kiralama projeme hoşgeldiniz.</p>
        <p class="lead">Bu sayfada aktif olarak üretilen araçlarımız yer almaktadır.</p>
        <p class="lead">Eksiklikler için özür dilerim.</p>
    </div>
</div>
<!-  Bayraktar Kızılelma isimli İHA'ya ait olan bilgilerin olduğu kısımdır  ->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="row">
                <style>
                    .görsel {
                      display: flex;
                      justify-content: space-between;
                    }
                    ul {
                      list-style-type: square;
                    }
                  </style>

                <div class="görsel" >
                    <div vertical-align: middle;> 
                        
                        <ul >
                            <p><strong>Bayraktar Kızılelma</strong></p>
                            <li>30.000 Feet Operasyonel İrtifa</li>
                            <li>8.5 Ton Maksimum Kalkış Ağırlığı </li>
                            <li>1500 Kilogram Faydalı Yük Kapasitesi</li>
                        </ul>
                        </div>
                    <img class="col-lg-8"  src="{% static 'img/Bayraktar_Kızılelma.png' %}" alt="">
                    

                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title" ><strong> Bayraktar Kızılelma </strong> </div>
                        
                        <p class="card-text">
                            <small class="text-muted">
                                Teknolojinin hızla gelişmesine paralel olarak her geçen gün daha hızlı değişen savunma doktrinlerinde,
                                geleceğin hava muharebelerinin insansız muharip jetlerle gerçekleştirileceği öngörülmektedir.
                                Bu kapsamda Baykar tarafından milli ve özgün olarak geliştirilme çalışmaları devam eden muharip insansız uçak 
                                sistemi <strong> Bayraktar  KIZILELMA </strong> (MİUS), geleceğin muharebe konseptine yön verecek.
                                Baykar tarafından geliştirilen ve dünyada oyunu değiştiren Bayraktar 
                                İHA/SİHA’ların tecrübesiyle yola çıkılarak geliştirme çalışmaları yürütülen muharip insansız uçak sistemi,
                                geleceğin teknolojileriyle donatılarak hizmet edecek.
                                Agresif manevralarla hava-hava muharebesi icra edebilecek olan <strong>
                                Bayraktar  KIZILELMA </strong> (MİUS), düşük radar kesitiyle güvenlik güçleri için güç çarpanı olacak.
                                Kısa pistli gemilerden kalkış ve iniş kabiliyetine sahip olacak olan <strong> Bayraktar  KIZILELMA </strong> (MİUS),
                                gövde içinde taşıyacağı mühimmatları ile belirlenen hedeflere taarruz gerçekleştirebilecek.
                            </small>
                        </p>
                        <style>
                            .özellik {
                              display: flex;
                              justify-content: space-between;
                            }
                            ul {
                              list-style-type: square;
                            }
                          </style>
                        <div class="özellik">
                          <div>
                            
                            <ul>
                                <p><strong>Temel uçuş performans kriterleri;</strong></p>
                              <li>5 Saat Havada Kalış Süresi</li>
                              <li>1500 Kilogram Faydalı Yük Kapasitesi</li>
                              <li>8.5 Ton Maksimum Kalkış Ağırlığı</li>
                              <li>0.6 Mach Seyir Hızı</li>
                              <li>0.9 Mach Maksimum Hız
                              <li>30.000 Feet Operasyonel İrtifa</li>
                              <li> 500 nm Görev Yarı Çap</li>
                            </ul>
                          </div>
                          <div>
                            <ul>
                                <p><strong>Gelişmiş Özellikler</strong></p>
                              <li>Otomatik İniş ve Kalkış</li>
                              <li>Düşük Görünürlük</li>
                              <li>Yüksek Manevra Kabiliyeti</li>
                              <li>Görüş Hattı ve Görüş Hattı Ötesi Haberleşme</li>
                              <li>Kısa Pistli Uçak Gemilerinden Kalkış ve İniş Kabiliyeti</li>
                              <li>AESA Radar İle Yüksek Durumsal Farkındalık</li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-  Bayraktar Akıncı isimli İHA'ya ait olan bilgilerin olduğu kısımdır  ->

    <div class="row">
<div class="col-md-12">
    <div class="card mb-3">
        <div class="row">
          <style>
            .görsel {
              display: flex;
              justify-content: space-between;
            }
            ul {
              list-style-type: square;
            }
          </style>

            <div class="görsel" >
                <div vertical-align: middle;> 
                    
                    <ul >
                        <p><strong>Bayraktar Akıncı</strong></p>
                        <li>Milli mühimmatlar MAM-L ve MAM-C</li>
                        <li>1500 Kilogram Faydalı Yük</li>
                        <li>Milli Görüş Hattı ve Uydu Haberleşme Sistemi</li>
                        <li>Milli AESA Radar (Çok amaçlı hava radarı, sentetik açıklıklı radar, meteoroloji radarı) </li>
                    </ul>
                    </div>
                <img class="col-lg-9"  src="{% static 'img/Bayraktar_Akıncı.png' %}" alt="">
                
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-title" Text align ="center" ><strong> Bayraktar Akıncı </strong> </div>
                    
                    <p class="card-text">
                        <small class="text-muted">
                          Bayraktar TB2'den daha uzun ve geniş olan <strong> Akıncı İHA</strong>, kendine özgü bükümlü kanat yapısıyla 20 metrelik
                          bir kanat açıklığına sahip olacak ve çok sayıda milli akıllı mühimmat taşıyabilecektir. Akıncı ayrıca
                          özgün yapay zeka sistemi sayesinde, daha akıllı ve çevresel koşulların daha da farkında olacak,
                          kullanıcılarına ileri uçuş ve teşhis fonksiyonları sunacaktır.
                          Bayraktar TB2 gibi yine kendi sınıfında lider olmayı hedefleyen Akıncı savaş uçaklarının
                          yaptığı bazı görevleri de icra edecektir. Taşıdığı elektronik destek podu, uydu haberleşme sistemleri,
                          hava-hava radarları, engel tespit radarı, sentetik açıklıklı radar gibi çok daha gelişmiş faydalı 
                          yüklerle görev yapacaktır. Şavaş uçaklarının yükünü azaltacak olan Akıncı ile havadan bombardıman da
                          icra edilebilecektir. Ülkemizde milli olarak geliştirilen hava-hava füzeleriyle donatılacak <strong> Akıncı 
                          İHA</strong>, hava-hava görevlerinde de kullanılabilecektir. 
                          
                          Kendi sınıfında dünyanın en ileri teknolojik sistemi haline gelmesi için çalışılan Bayraktar Akıncı Taarruzi İnsansız Hava Aracı Sistemi, yerli ve milli olarak üretilen MAM-L, MAM-C, Cirit, L-UMTAS, Bozok, MK-81, MK-82, MK-83, Kanatlı Güdüm Kiti (KGK)-MK-82, Gökdoğan, Bozdoğan, SOM-A gibi mühimmat, füze ve bombayla donatılacaktır.
                        </small>
                    </p>
                    <style>
                        .özellik {
                          display: flex;
                          justify-content: space-between;
                        }
                        ul {
                          list-style-type: square;
                        }
                      </style>
                    <div class="özellik">
                      <div>
                        
                        <ul>
                            <p><strong>Temel uçuş performans kriterleri;</strong></p>
                          <li>40,000 Feet Uçuş İrtifası</li>
                          <li>24 Saat Havada Kalış Süresi</li>
                          <li>Çift Yedekli SATCOM + Çift Yedekli LOS</li>
                          <li>Tam Otomatik Uçuş Kontrol ve 3 Yedekli Otopilot Sistemi (Triple Redundant)</li>
                          <li>Yer Sistemlerine Bağımlı Olmaksızın Tam Otomatik İniş ve Kalkış Özelliği</li>
                          <li>GPS Bağımlılığı Olmaksızın Dahili Sensör Füzyonu İle Seyrüsefer Özelliği</li>
                        </ul>
                      </div>
                      <div>
                        <ul>
                            <p><strong>Gelişmiş Özellikler</strong></p>
                          <li>Tam Otomatik Seyir ve Rota Takibi Özelliği</li>
                          <li>Dahili Sensör Füzyonu Destekli Hassas Otomatik Kalkış ve İniş Özelliği</li>
                          <li>Tam Otomatik Taksi ve Park Özelliği</li>
                          <li>Yarı Otonom Uçuş Modları Desteği</li>
                          <li>Hata Toleranslı ve 3 Yedekli Sensör Füzyonu Uygulaması</li>
                          <li>Çapraz Yedekli YKİ Sistemi</li>
                          <li>Özgün Yedekli Servo Aktüatör Birimleri</li>
                          <li>Özgün Yedekli Lityum Tabanlı Batarya Birimleri</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!- Baykar TB3 İHA bilgi kısmı->
        <div class="row">
          <div class="col-md-12">
              <div class="card mb-3">
                  <div class="row">
      
      
                    <style>
                      .görsel {
                        display: flex;
                        justify-content: space-between;
                      }
                      ul {
                        list-style-type: square;
                      }
                    </style>
  
                      <div class="görsel" >
                        <img class="col-lg-9"  src="{% static 'img/Bayraktar_tb3.png' %}" alt="">
                          <div vertical-align: middle;> 
                              <ul >
                                  <p><strong>Bayraktar TB3</strong></p>
                                  <li>Otomatik İniş ve Kalkış</li>
                                  <li>Görüş Hattı ve Görüş Hattı Ötesi Haberleşme</li>
                                  <li>Kısa Pistli Uçak Gemilerinden Kalkış ve İniş Kabiliyeti</li>
                              </ul>
                              </div>
                      </div>
                      <div class="col-md-9">
                          <div class="card-body">
                              <div class="card-title" Text align ="center" ><strong> Bayraktar TB3 </strong> </div>
                              
                              <p class="card-text">
                                  <small class="text-muted">
                                    
                                    Baykar tarafından milli ve özgün olarak geliştirilen Bayraktar TB3 SİHA,
                                    kısa pistli gemilerden kalkış ve iniş kabiliyetine sahip silahlı insansız
                                    hava aracı sistemidir. Keşif-gözetleme ve istihbarat görevlerinin yanı sıra
                                    kanatları altında taşıdığı yerli akıllı mühimmatlarla operasyon icra etme
                                    kabiliyetine sahiptir.
                                    Katlanabilen kanat yapısıyla helikopter gemileri ve uçak gemilerinde 
                                    kullanıma uygun olarak tasarlanan hava aracı kullanıcıya deniz aşırı görevlerde 
                                    silahlı insansız hava araçlarıyla operasyon icra etme kabiliyeti sunmaktadır.
                                    Görüş hattı haberleşmenin yanı sıra görüş hattı ötesi haberleşme kabiliyetine de 
                                    sahip olan Bayraktar TB3, bu sayede çok uzun mesafelerden kumanda edilebilmektedir.
                                   </small>
                              </p>
                              <style>
                                  .özellik {
                                    display: flex;
                                    justify-content: space-between;
                                  }
                                  ul {
                                    list-style-type: square;
                                  }
                                </style>
                              <div class="özellik">
                                <div>
                                  
                                  <ul>
                                      <p><strong>Temel uçuş performans kriterleri;</strong></p>
                                    <li>8.35 Metre Uzunluk</li>
                                    <li>14 Metre Kanat Açıklığı</li>
                                    <li>1450 Kilogram Kalkış Ağırlığı</li>
                                    <li>125 knots-160 knots TAS Seyir Hızı – Maksimum Hız</li>
                                    <li>280 Kilogram Faydalı Yük Kapasitesi</li>
                                    <li>24+ Saat Havada Kalış Süresi</li>
                                  </ul>
                                </div>
                                <div>
                                  <ul>
                                      <p><strong>Gelişmiş Özellikler</strong></p>
                                      <li>Otomatik İniş ve Kalkış</li>
                                      <li>Görüş Hattı ve Görüş Hattı Ötesi Haberleşme</li>
                                      <li>Kısa Pistli Uçak Gemilerinden Kalkış ve İniş Kabiliyeti</li>
                                  </ul>
                                </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!- Bakraktar TB2 Hakkında bilgiler burada yazıldı ->

<div class="row">
  <div class="col-md-12">
      <div class="card mb-3">
          <div class="row">
            <style>
              .görsel {
                display: flex;
                justify-content: space-between;
              }
              ul {
                list-style-type: square;
              }
            </style>

              <div class="görsel" >
                  <div vertical-align: middle;> 
                      <ul >
                          <p><strong>Bayraktar TB2</strong></p>
                          <li>12 Metre Kanat Açıklığı</li>
                          <li>300 km Haberleşme Menzili</li>
                          <li>120 Knot Maksimum Hız</li>
                      </div>
                  <img class="col-lg-9"  src="{% static 'img/Bayraktar_tb2.png' %}" alt="">
                  
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <div class="card-title" Text align ="center" ><strong> Bayraktar TB2 </strong> </div>
                      
                      <p class="card-text">
                          <small class="text-muted">
                            Baykar tarafından geliştirilerek kullanıma sunulan Bayraktar TB2 Taktik S/İHA Sistemi,
                            kullanıcıya tüm çözümleri bir arada sunan bütünleşik ağ tabanlı bir sistem mimarisidir. 
                            Sistem, Bayraktar TB2 S/İHA Platformu, Yer Kontrol İstasyonu, Yer Veri Terminali, Uzak
                            Görüntü Terminali, İleri Üs ve Jeneratör ile Römork modüllerinden oluşur. Baykar’ın
                            teknolojik kabiliyet ve yetenekleri sayesinde tüm sistem yerli ve milli olarak üretilmektedir. 

                            <p> <strong> 600 BİN SAATTİR GÖKLERDE !!! </strong> </p>

                            Bayraktar TB2 Taktik Silahlı İnsansız Hava Aracı, keşif ve istihbarat
                            görevleri için orta irtifa-uzun havada kalış süresi sınıfına giren (MALE)
                            insansız hava aracıdır. Üç yedekli aviyonik sistemleri ve sensör füzyon mimarisi
                            ile tamamen otonom taksi, kalkış, iniş ve normal seyir kabiliyetine sahiptir.
                            600.000 saatten fazla uçan TB2, Türk Silahlı Kuvvetleri, Jandarma ve
                            Emniyet Müdürlüğü bünyesinde 2014’ten bu yana aktif olarak hizmet etmektedir.
                            Şu anda Türkiye ile beraber Katar, Ukrayna, Azerbaycan ve teslimat yapılan 
                            ülkelerin envanterinde yüzlerce Bayraktar TB2 S/İHA Platformu görev yapmaktadır.
                            Bayraktar TB2, Türk havacılık tarihinde havada kalma (27 Saat 3 Dakika ) süresi ve
                            irtifa (25 bin 30 feet) rekorunu kırmıştır. Bayraktar TB2 bu ölçekte ihraç edilen
                            ilk hava aracı ünvanını da taşımaktadır. 
                            </small>
                      </p>
                      <style>
                          .özellik {
                            display: flex;
                            justify-content: space-between;
                          }
                          ul {
                            list-style-type: square;
                          }
                        </style>
                      <div class="özellik">
                        <div>
                          
                          <ul>
                              <p><strong>Temel uçuş performans kriterleri;</strong></p>
                            <li>18,000 Feet Operasyonel İrtifa</li>
                            <li>27 Saat Maksimum Havada Kalış Süresi</li>
                            <li>Tam Otomatik Uçuş Kontrol ve 3 Yedekli Otopilot Sistemi (Triple Redundant)</li>
                            <li>Yer Sistemlerine Bağımlı Olmaksızın Tam Otomatik İniş ve Kalkış Özelliği </li>
                            <li>GPS Bağımlılığı Olmaksızın Dahili Sensör Füzyonu İle Seyrüsefer Özelliği</li>
                            <li>25.000 Feet Maksimum İrtifa</li>
                          </ul>
                        </div>
                        <div>
                          <ul>
                              <p><strong>Gelişmiş Özellikler</strong></p>
                            <li> Tam Otomatik Seyir ve Rota Takibi Özelliği </li>
                            <li> Dahili Sensör Füzyonu Destekli Hassas Otomatik Kalkış ve İniş Özelliği</li>
                            <li> Tam Otomatik Taksi ve Park Özelliği </li>
                            <li> Yarı Otonom Uçuş Modları Desteği</li>
                            <li> Hata Toleranslı ve 3 Yedekli Sensör Füzyonu Uygulaması</li>
                            <li> Çapraz Yedekli YKİ Sistemi </li>
                            <li> Özgün Yedekli Servo Aktüatör Birimleri </li>
                            <li> Özgün Yedekli Lityum Tabanlı Batarya Birimleri</li>
                            

                            
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <!- KEMANKEŞ MİNİ AKILLI SEYİR FÜZESİ İLE İLGİLİ BİLGİLER->
          <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="row">
        
        
                      <style>
                        .görsel {
                          display: flex;
                          justify-content: space-between;
                        }
                        ul {
                          list-style-type: square;
                        }
                      </style>
    
        
                        <div class="görsel" >
                          <img class="col-lg-7"  src="{% static 'img/kemankeş.png' %}" alt="">
                            <div vertical-align: middle;> 
                                <ul >
                                    <p><strong>KEMANKEŞ Mini Akıllı Seyir Füzesi</strong></p>
                                    <li>2 Eksenli Stabilizasyon</li>
                                    <li>2.8 Kilometreye Kadar Lazer Mesafe Ölçer</li>
                                    <li>59.13°-1.10°(h) Görüş Açısı</li>
                                    <li>36x Optik Zoom </li>
                                    
                                </ul>
                                </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <div class="card-title" Text align ="center" ><strong> KEMANKEŞ Mini Akıllı Seyir Füzesi </strong> </div>
                                
                                <p class="card-text">
                                    <small class="text-muted">
                                      <strong>KEMANKEŞ</strong>, stratejik hedeflere karşı kullanılmak üzere Baykar tarafından geliştirilen 
                                      milli ve özgün mini akıllı seyir füzesidir. <strong>KEMANKEŞ</strong> adını; attığı okla en zorlu
                                      şartta dahi hedefi tam isabetle vuran tarihimizdeki okçulardan alır.
                                      <strong>KEMANKEŞ</strong>, Baykar’ın milli ve özgün olarak geliştirdiği Bayraktar AKINCI TİHA,
                                      Bayraktar TB2 SİHA ve Bayraktar 
                                      TB3 SİHA’larından atılabilmektedir. 1 saat havada mini akıllı seyir füzesi
                                      sahip olduğu jet motoru sayesinde süratle yol
                                      alarak düşman gerisindeki en riskli hedeflere karşı etkinlik gösterir.
                                      Ayrıca yapay zekâ destekli otopilot sistemi ile otonom uçuş yapabilmektedir.
                                      Yapay Zekâ Destekli Optik Güdüm Sistemi sayesinde hedefini tanıyarak zorlu hava şartlarında dahi tam isabetle imha 
                                      kabiliyetine sahiptir. Gece ve gündüz şartlarında görev yapabilen <strong>KEMANKEŞ</strong>, barındırdığı 
                                      Anti-jamming teknolojisi sayesinde elektronik karıştırmalardan etkilenmez. 
                                      <strong>KEMANKEŞ</strong>, tüm görüş hattı haberleşmesini bağlı olduğu platform ile sağlar. 
                                      Böylece elde ettiği tüm telemetri bilgilerini ve kamera görüntüsünü platform üzerinden
                                      yer kontrol istasyonuna ileterek verilerin takibini mümkün kılar.
                                      </small>
                                </p>
                                <style>
                                    .özellik {
                                      display: flex;
                                      justify-content: space-between;
                                    }
                                    ul {
                                      list-style-type: square;
                                    }
                                  </style>
                                <div class="özellik">
                                  <div>
                                    
                                    <ul>
                                        <p><strong>Temel uçuş performans kriterleri;</strong></p>
                                    
                                      
                                     <li> 0.7 Mach (720 km/h) Maksimum Dalış Sürati
                                       <li> Jet Motoru</li>
                                       <li> 0.3 Mach (360km/h) Seyir Sürati</li>
                                       <li> 18.000 Feet Operasyonel İrtifa</li>
                                       <li> 1 Saat Havada Kalış Süresi</li>
                                       <li> EO Kamera</li>
                                       <li> 1.73 Metre Uzunluk</li>
                                       <li> 0.4 Metre Yükseklik</li>
                                       <li> 1.25 Metre Kanat Açıklığı</li>
                                       <li> 30 Kilogram Azami Ağırlık</li>
                                       <li> 6 Kilogram Faydalı Yük</li>
                                       <li> 200 km+ Operasyon Menzili</li>
                                    </ul>
                                  </div>
                                  <div>
                                    <ul>
                                        <p><strong>Kamera Sistemi</strong></p>
                                        <li>2 Eksenli Stabilizasyon</li>
                                        <li>2.8 Kilometreye Kadar Lazer Mesafe Ölçer</li>
                                        <li>59.13°-1.10°(h) Görüş Açısı</li>
                                        <li>36x Optik Zoom </li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!- Bayraktar mini iha ile ilgili olan bilgileri içerir->

  <div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="row">
  
  
              <style>
                .görsel {
                  display: flex;
                  justify-content: space-between;
                }
                ul {
                  list-style-type: square;
                }
              </style>

  
                <div class="görsel" >
                  <img class="col-lg-10"  src="{% static 'img/Bayraktar_miniiha.png' %}" alt="">
                    <div vertical-align: middle;> 
                        <ul >
                            <p><strong>Bayraktar Mini İHA</strong></p>
                            <li>120 Dakika Havada Kalış</li>
                            <li>15 Kilometre Haberleşme Menzili</li>
                            <li>2 Eksen Gimbal Kamera</li>
                            <li>4.000 Feet Maksimum İrtifa</li>
                        </ul>
                        </div>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title" Text align ="center" ><strong> Bayraktar Mini İHA </strong> </div>
                        
                        <p class="card-text">
                            <small class="text-muted">
                              <strong>
  
                                <strong>Bayraktar Mini İnsansız Hava Aracı Sistemi </strong> tamamen özgün ve milli olarak geliştirilmiş elektronik,
                                yazılım ve yapısal bileşenleri ile Türkiye’nin ilk mini robot hava aracı sistemidir.
                                Ar-Ge ekibimizin yoğun çalışma ve gayreti ile geliştirilen sistem tüm testleri başarı ile geçerek
                                ilk olarak 2007 yılında Türk Silahlı Kuvvetleri’nin hizmetine sunulmuştur. Yabancı ülkelerde 
                                geliştirilmiş rakiplerine nazaran birçok gelişmiş özelliği bulunan Mini İHA Sistemi zor coğrafi
                                ve meteorolojik koşullar altında dahi kullanılabilmektedir.
                                Silahlı Kuvvetlerimizin envanterine girmiş ilk Milli Hava Aracı Sistemi
                                Bugüne kadar 100,000 üzerinde operasyonel uçuş sortisi ile güvenilir ve etkin bir sistem
                                Tamamen Milli ve Özgün Tasarım
                                İhraç edilen İlk Hava Aracı
  
                              </small>
                        </p>
                        <style>
                            .özellik {
                              display: flex;
                              justify-content: space-between;
                            }
                            ul {
                              list-style-type: square;
                            }
                          </style>
                        <div class="özellik">
                          <div>
                            
                            <ul>
                                <p><strong>Temel uçuş performans kriterleri;</strong></p>
                                <li> Modüler Tasarım</li>
                                <li> Kolay Montaj Özelliği</li>
                                <li> Karbon Fiber, Kevlar Kompozit Yapı</li>
                                <li> Darbe Sönümleyici Gövde Yapısı</li>
                                <li> Özgün Paraşüt Tasarımı</li>
                                <li> Portatif Çanta içerisinde Taşınabilir Yapı</li>
                                <li>Gövde, Çok Parçalı Kanat Yapısı, Kuyruk Kanatları</li>
                            </ul>
                          </div>
                          <div>
                            <ul>
                                <p><strong>Gelişmiş Özellikler</strong></p>
                                <li>Otomatik Hedef Noktası Takibi</li>
                                <li>Otomatik Gövde Üzeri İniş / Otomatik Paraşüt İnişi</li>
                                <li>Joystick Destekli Yarı Otomatik Uçuş</li>
                                <li>Stall Hızı Kontrol Kabiliyeti</li>
                                <li>Sert ve Darbeli Rüzgarlı Havalarda Viril Kontrol Özelliği</li>
                                <li>Güvenilir Sayısal Haberleşme Sistemi</li>
                                <li>Haberleşme Kaybı Durumunda Otomatik Eve Dönüş ve Otomatik İniş Özelliği</li>
                                <li>Çoklu İHA Komuta / Kontrol / İzleme Desteği</li>
                                <li>Akıllı Batarya Yönetim Sistemi</li>
                                <li>Uzaktan Komuta Kontrol ve İzleme Fonksiyonu (İstemci Sunucu Mimarisi)</li>
                                <li>Yer Kontrol İstasyonu Değiştirebilme Özelliği</li>
                                <li>Otomatik Kalkış ve Seyir</li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </div>

<!- Bakraktar Diha Hakkında bilgiler burada yazıldı->
<div class="row">
  <div class="col-md-12">
      <div class="card mb-3">
          <div class="row">


            <style>
              .görsel {
                display: flex;
                justify-content: space-between;
              }
              ul {
                list-style-type: square;
              }
            </style>

              <div class="görsel" >
                <img class="col-lg-9"  src="{% static 'img/Bakraktar_diha.png' %}" alt="">
                  <div vertical-align: middle;> 
                      <ul >
                          <p><strong>Bayraktar DİHA</strong></p>
                          <li>80 Knot Maksimum Hız</li>
                          <li>150 Kilometre Haberleşme Menzili</li>
                          <li>50 Kilogram Azami Kalkış Ağırlığı</li>
                          <li>45-50 Knot Seyir Hızı</li>
                      </ul>
                      </div>
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <div class="card-title" Text align ="center" ><strong> Bayraktar Diha </strong> </div>
                      
                      <p class="card-text">
                          <small class="text-muted">
                            <strong>Bayraktar Dikey İniş Kalkışlı İnsansız Hava Aracı (DİHA)</strong>, keşif
                             ve istihbarat görevleri için faaliyetler yürütebilecek Taktik İHA sınıfında bir hava aracıdır.
                            Araç, otomatik seyir uçuşu, otonom kalkış, otonom iniş ve yarı otonom seyir 
                            uçuşu yapabilmektedir. <strong>Bayraktar DİHA</strong>, elektrik motorlarıyla kalkış yaptıktan 
                            sonra seyir uçuş moduna geçecek, seyir uçuş modunda sadece yakıt motoru aktif 
                            halde bulunacaktır. İniş modu için dikey iniş, gövde üzerine iniş ve paraşütlü 
                            iniş olmak üzere üç farklı opsiyon bulunmaktadır. Hava aracı, otomatik rota takibi,
                             hedef takibi, çember atma ve eve dönüş modlarını gerçekleştirebilen uçuş kontrol sistemine sahiptir.
                           </small>
                      </p>
                      <style>
                          .özellik {
                            display: flex;
                            justify-content: space-between;
                          }
                          ul {
                            list-style-type: square;
                          }
                        </style>
                      <div class="özellik">
                        <div>
                          
                          <ul>
                              <p><strong>Temel uçuş performans kriterleri;</strong></p>
                            <li>150 Kilometre Haberleşme Menzili </li>
                            <li>45-50 Knot Seyir Hızı        </li>
                            <li>80 Knot Maksimum Hız        </li>
                            <li>9000 Feet Operasyonel İrtifa     </li>   
                            <li>15000 Feet İrtifa Tavanı        </li>
                            <li>12 Saat Havada Kalma Süresi</li>
                            <li>5 Metre Kanat Açıklığı</li>
                            <li>1.5 Metre Uzunluk</li>
                            <li>Dikey İniş Kalkışlı</li>
                            <li>5 Kilogram Faydalı Yük Kapasitesi</li>
                            <li>50 Kilogram Azami Kalkış Ağırlığı</li>
                            
                           
                          </ul>
                        </div>
                        <div>
                          <ul>
                              <p><strong>Gelişmiş Özellikler</strong></p>
                              <li>Tam Otomatik Uçuş Sistemi</li>
                              <li>Sensör Füzyonu Yardımlı Tam Otonom</li>
                              <li>Otonom Kalkış ve İniş Sistemi</li>
                              <li>Yarı Otonom Uçuş Modu</li>
                              <li>Hataya Dayanıklı Sistem Mimarisi</li>
                              <li>Üç Yedekli Uçuş Kontrol Sistemi</li>
                              <li>Yedekli Servo Eyleyiciler</li>
                              <li>Elektro-Optik (EO) Kamera Modülü</li>
                              <li>Kızılötesi (IR) Kamera Modülü</li>
                              <li>Lazer Mesafe Ölçer</li>
                              <li>Lazer İşaretleyici</li>
                              <li>Dijital Veri ve Video Link</li>
                                                 
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



{% endblock %}